{% extends 'base.html' %}
{% load staticfiles %}

<!-- Extra CSS goes here -->
{% block extra_css %}
<link href="{% static "css/cacheform.css" %}" rel="stylesheet">
{% endblock %}

<!-- Extra JS goes here -->
{% block extra_script %}
{% endblock %}

{% block content %}
    <div class="col-lg-6 col-lg-offset-3">
        <form class="form-horizontal" id="addCache" enctype="multipart/form-data" action="/manage/create" method="post">
            {% for field in form %}
                <div class="form-group form-field">
                    <div class="col-sm-12">{{ field.errors }}</div>
                    <label class="control-label col-lg-3" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="col-lg-9">{{ field }}</div>
                </div>
            {% endfor %}
            {% csrf_token %}
            <div class="row" style="margin-top:10px;">
                <div class="btn-group btn-group-md col-lg-offset-3 col-lg-9" role="group">
                    <button type="submit" class="btn btn-primary btn-lg col-lg-6">Submit</button>
                    <button type="button" class="btn btn-primary btn-lg col-lg-6">Clear</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
