{% extends 'base.html' %}
{% load staticfiles %}

<!-- Extra CSS goes here -->
{% block extra_css %}
    <link href="{% static "css/cacheform.css" %}" rel="stylesheet">
    <link href="{% static "css/createdit.css" %}" rel="stylesheet">
{% endblock %}

<!-- Extra JS goes here -->
{% block extra_script %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="page-header">Create a Cache</h1>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
        {% if error_message %}
            <p><b>{{ error_message }}</b></p>
        {% endif %}

        {% if success_message %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 id="oh-snap!-you-got-an-error!">Oh snap! You got an error!<a class="anchorjs-link" href="#oh-snap!-you-got-an-error!"><span class="anchorjs-icon"></span></a></h4>
                <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                <p>
                    <button type="button" class="btn btn-danger">Take this action</button>
                    <button type="button" class="btn btn-default">Or do this</button>
                </p>
            </div>
        {% endif %}
        <form class="form-horizontal" id="cache-create-form" enctype="multipart/form-data" action="/manage/create" method="post">
            {% for field in form %}
                <div class="form-group form-field">
                    <div class="col-sm-12">{{ field.errors }}</div>
                    <label class="control-label col-lg-3" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="col-lg-9">{{ field }}</div>
                </div>
            {% endfor %}
            {% csrf_token %}
            <div class="row" style="margin-top:10px;">
                <div class="btn-group btn-group-md col-lg-offset-3 col-lg-9" role="group">
                    <button type="submit" class="btn btn-default col-lg-6" style="font-size:1.1em;">Create</button>
                    <button type="button" class="btn btn-default col-lg-6" style="font-size:1.1em;">Clear</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
