{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static "css/createdit.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}

{% endblock %}

{% block content %}
    {% if success_message %}
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Cache was successfully removed!</h2>
            </div>
            <div class="col-lg-12">
                <h4>Extra info:</h4>
                <p>{% autoescape off %}{{ success_message }}{% endautoescape %}<br><a href="#edit-modal"data-toggle="modal" data-target="#edit-modal">Back to edit</a></p>
            </div>
        </div>
    {% endif %}
    {% if error_message %}
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Cache removal was unsuccessful!</h2>
            </div>
            <div class="col-lg-12">
                <h4>Extra info:</h4>
                <p>{% autoescape off %}{{ error_message }}{% endautoescape %}<br>.<br>Please try again later.<a href="#edit-modal"data-toggle="modal" data-target="#edit-modal"> Back to edit</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}
