<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>RapidStor - Home</title>

    {% load staticfiles %}

    <script src="{{ STATIC_URL }}js/jquery-2.1.3.min.js"></script>
    <script src="{% static 'js/kickstart.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <link href="{% static "css/kickstart.css" %}" rel="stylesheet">
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper main">
        <div class="row" style="margin-top: 26%;">
            <div class="col-12 title">
                <h1>Welcome to RapidStor</h1>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <a class="button btn" href="/rapidstor/manage/create">Create</a>
            <a class="button btn" id="edit-page-button" href="#" onclick="return edit_modal()">Edit</a>
            <a class="button btn" href="/rapidstor/stats">Statistics</a>
            <a class="button btn" href="/rapidstor/stats/live">Monitoring</a>
        </div>
    </div>

    <div class="modal" id="edit-modal">
        <header>
            <h3>Please choose a cache.</h3>
        </header>
        <main>
            <form class="form">
                <div class="form_group">
                    <label for="cache-name">Cache name</label>
                    <select id="cache-name">
                        {% for cache in caches %}
                            <option>{{ cache }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </main>
        <footer>
            <button class="button button-green" onclick="load_edit()">&#10004</button>
            <button class="button button-red" onclick="close_modal()" style="color:#EEE">&#x2716</button>
        </footer>
    </div>

</body>
</html>