{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <link href="{% static "css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/highcharts.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Live Monitoring</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-body chart-body" id="wr-ratio" data-type="chart"></div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-body chart-body" id="wr-throughput" data-type="chart"></div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-body chart-body" id="wr-response" data-type="chart"></div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-body chart-body" id="wr-request" data-type="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary ">
                    <div class="panel-heading"><h4>Cache Information</h4></div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="cache-name"> Choose target cache<span class="text-danger"> *</span></label>
                                <select id="cache-name" class="form-control cache-selector" onchange="start_updates()">
                                    <option>Please choose a cache</option>
                                    {% for cache in caches %}
                                        <option>{{ cache }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>

                    <table class="table table-hover">
                        <tbody>
                            <tr class="active">
                                <th>Main Disk Name</th>
                                <th id="main_disk_name">-</th>
                            </tr>
                            <tr>
                                <th>Main Disk Size</th>
                                <td id="main_disk_size">-</td>
                            </tr>
                            <tr class="active">
                                <th>Cache Disk Name</th>
                                <th id="cache_disk_name">-</th>
                            </tr>
                            <tr>
                                <th>Cache State</th>
                                <th id="cache_state">-</th>
                            </tr>
                            <tr>
                                <th>Cache Type</th>
                                <td id="cache_type">-</td>
                            </tr>
                            <tr>
                                <th>Cache Size</th>
                                <td id="cache_size">-</td>
                            </tr>
                            <tr>
                                <th>Block Size</th>
                                <td id="block_size">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="panel panel-primary">#}
{#                <div class="panel-heading">Chart Series One</div>#}
{#                <div class="panel-body">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-8" style="height: 250px;">#}
{#                            <div id="top-chart" style="height:250px;"></div>#}
{#                        </div>#}
{#                        <div class="col-lg-4 chart-form" style="height: 250px;">#}
{#                            <div class="form-horizontal">#}
{#                                <div class="form-group">#}
{#                                    <label for="firstInput" class="col-sm-2 control-label">Speed</label>#}
{#                                    <div class="col-sm-10">#}
{#                                        <input type="text" class="form-control" id="firstInput" placeholder="Parameter A">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="secondInput" class="col-sm-2 control-label">Accuracy</label>#}
{#                                    <div class="col-sm-10">#}
{#                                        <input type="text" class="form-control" id="secondInput" placeholder="Parameter B">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="thirdInput" class="col-sm-2 control-label">Memory</label>#}
{#                                    <div class="col-sm-10">#}
{#                                        <input type="text" class="form-control" id="thirdInput" placeholder="Parameter C">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-sm-5 col-sm-offset-2">#}
{#                                        <button type="button" class="btn btn-default btn-lg btn-block">Submit</button>#}
{#                                    </div>#}
{#                                    <div class="col-sm-5">#}
{#                                        <button type="button" class="btn btn-primary btn-lg btn-block">Clear</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}
