{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <link href="{% static "css/stats.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/highcharts.js" %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static "js/stats.js" %}"></script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="row">
            <h1 class="page-header">Dashboard Overview</h1>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body chart-body" id="wr-ratio" data-type="chart"></div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-body chart-body" id="wr-throughput" data-type="chart"></div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-body chart-body" id="wr-response" data-type="chart"></div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-body chart-body" id="wr-request" data-type="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary ">
                    <div class="panel-heading"><h4>Menu</h4></div>
                    <div class="panel-body">
                        <form id="stat-menu">
                            <div class="form-group" style="margin-bottom:0;">
                                <label for="cache-name"> Choose target cache<span class="text-danger"> *</span></label>
                                <select id="cache-name" class="form-control cache-selector">
                                    <option>Please choose a cache</option>
                                    {% for cache in caches %}
                                        <option>{{ cache }}</option>
                                    {% endfor %}
                                </select>
                                <label for="starting-date" style="margin-top:10px;">From<span class="text-danger"> *</span></label>
                                <div class='input-group date' id='start-time-picker'>
                                    <input type='text' class="form-control cache-selector" id="starting-date"/>
                                    <span class="input-group-addon cache-selector">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <label for="starting-date" style="margin-top:10px;">To<span class="text-danger"> *</span></label>
                                <div class='input-group date' id='end-time-picker'>
                                    <input type='text' class="form-control cache-selector" id="ending-date"/>
                                    <span class="input-group-addon cache-selector">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <div class="row" style="margin-top:10px;">
{#                                    <div class="col-sm-4 col-sm-offset-2">#}
{#                                        <button type="button" class="btn btn-primary btn-sm btn-block" onclick="send_info()">Submit</button>#}
{#                                    </div>#}
{#                                    <div class="col-sm-4">#}
{#                                        <button type="button" class="btn btn-default btn-sm btn-block" onclick="clear_fields()">Clear</button>#}
{#                                    </div>#}
                                    <div class="btn-group btn-group-lg" role="group" aria-label="...">
                                        <button type="button" class="btn btn-primary btn-lg" onclick="clear_fields()">Submit</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="clear_fields()">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}